html {
  height: 100%;
}
body {
  background-image: url("../image\/背景.jpg");
  margin: 0;
  min-height: 100%;
  display: grid; /* 使用grid排版 */
  grid-template-rows: 1fr auto; /* 將上半部設置為一個單位，剩下的部分設為自動高度 */
}
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
footer,
header nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

header {
  height: 3rem;
  padding: 10px 0;
  background: rgb(52, 86, 155);
  background: linear-gradient(
    to bottom,
    rgba(221, 39, 39, 1) 0%,
    rgba(236, 93, 100, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34569b', endColorstr='#4fa4dd', GradientType=0);
  margin-bottom: 15px;
}

footer {
  height: 3rem;
  padding: 10px 0;
  background: rgb(52, 86, 155);
  background: linear-gradient(
    to bottom,
    rgba(221, 39, 39, 1) 0%,
    rgba(236, 93, 100, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34569b', endColorstr='#4fa4dd', GradientType=0);
}

.header_title {
  color: #fff;
}

header .hit-hinet,
footer .hit-hinet {
  font-family: "Cubic 11", cursive;
  font-size: 24px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.title {
  border-bottom: 0.2rem solid #0097c5;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #0097c5;
  font-weight: bold;
  margin: 0 3%;
}

.question {
  margin: 0 3%;
}

.card {
  content: url("../image/光明燈_暗.png");
  width: 20%;
  vertical-align: middle;
  margin: 0 30%;
}
.card:hover {
  content: url("../image/光明燈_亮.png");
  width: 20%;
  margin: 0 30%;
  vertical-align: middle;
}

.hammer {
  content: url("../image/hammer1.png");
  margin: 0 auto; /* 水平置中 */
  width: 40%; /* 固定寬度 */
  object-fit: cover; /* 確保圖片按比例填充 */
  display: block; /* 將圖片設為區塊元素 */
}
.hammer:hover {
  content: url("../image/hammer2.png");
  margin: 0 auto; /* 水平置中 */
  width: 40%; /* 固定寬度 */
  object-fit: cover; /* 確保圖片按比例填充 */
  display: block; /* 將圖片設為區塊元素 */
}

#lightdraw {
  display: none;
}

#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.drawn-image {
  width: 100px;
  height: 150px;
  opacity: 0;
}

.draw-text {
  font-family: 'Cubic 11', cursive;
  color: #fff;
}

.fade-in {
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
