
@keyframes marquee-left {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(-40%);
   }
}
@media (max-width: 1024px) {
    @keyframes marquee-left {
        0% {
            transform: translateX(0);
       }
        100% {
            transform: translateX(-40%);
       }
   }
}
@media (max-width: 768px) {
    @keyframes marquee-left {
        0% {
            transform: translateX(0);
       }
        100% {
            transform: translateX(-83.32%);
       }
   }
}
#marquee-left .view {
    overflow: hidden;
    width: 100%;
    
}
#marquee-left .pic-container {
    display: flex;
    animation: marquee-left 10s infinite linear;
}
#marquee-left .pic-container:hover{
    animation-play-state: paused;
}
#marquee-left .pic-container .pic {
    flex-basis: 20%;
    flex-shrink: 0;
    margin: 0 -5%;
    list-style: none;
}
@media (max-width: 1024px) {
    #marquee-left .pic-container .pic {
        flex-basis: 25%;
   }
}
@media (max-width: 768px) {
    #marquee-left .pic-container .pic {
        flex-basis: 33.33%;
   }
}
#marquee-left img {
    width: 50%;
    vertical-align: middle;
}
@keyframes marquee-right {
    0% {
        transform: translateX(-40%);
   }
    100% {
        transform: translateX(0);
   }
}
@media (max-width: 1024px) {
    @keyframes marquee-right {
        0% {
            transform: translateX(-40%);
       }
        100% {
            transform: translateX(0);
       }
   }
}
@media (max-width: 768px) {
    @keyframes marquee-right {
        0% {
            transform: translateX(-83.32%);
       }
        100% {
            transform: translateX(0);
       }
   }
}
#marquee-right {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation-play-state: paused;

}
#marquee-right .view {
    overflow: hidden;
    width: 100%;
}
#marquee-right .pic-container {
    display: flex;
    animation: marquee-right 10s infinite linear;
}
#marquee-right .pic-container:hover{
    animation-play-state: paused;
}
#marquee-right .pic-container .pic {
    flex-basis: 20%;
    flex-shrink: 0;
    margin: 0 -5%;
    list-style: none;
}
@media (max-width: 1024px) {
    #marquee-right .pic-container .pic {
        flex-basis: 25%;
   }
}
@media (max-width: 768px) {
    #marquee-right .pic-container .pic {
        flex-basis: 33.33%;
   }
}
#marquee-right img {
    width: 50%;
    vertical-align: middle;
}

.view:hover~.animation {
    animation-play-state: paused;
    }