@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-2000%);
  }
}
@media (max-width: 1024px) {
  @keyframes marquee-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-2000%);
    }
  }
}
@media (max-width: 768px) {
  @keyframes marquee-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-3000%);
    }
  }
}
.marquee-left .view {
  /* overflow: hidden; */
  width: 100%;
}
.marquee-left .pic-container {
  display: flex;
  /* animation: marquee-left 500S infinite linear; */
}
.marquee-left .pic-container:hover {
  animation-play-state: paused;
}
.marquee-left .pic-container .pic {
  /* flex-basis: 20%;
    flex-shrink: 0; */
  /* margin: 0 -5%; */
  list-style: none;
}
/* .marquee-left .pic-container .pic a img :hover{
    content: url(../image/光明燈_暗.png);
    width: 63%;
    vertical-align: middle;
} */
@media (max-width: 1024px) {
  .marquee-left .pic-container .pic {
    flex-basis: 25%;
  }
}
@media (max-width: 768px) {
  .marquee-left .pic-container .pic {
    flex-basis: 33.33%;
  }
}
.marquee-left img {
  width: 63%;
  vertical-align: middle;
}
@keyframes marquee-right {
  0% {
    transform: translateX(-2000%);
  }
  100% {
    transform: translateX(0%);
  }
}
@media (max-width: 1024px) {
  @keyframes marquee-right {
    0% {
      transform: translateX(-2200%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@media (max-width: 768px) {
  @keyframes marquee-right {
    0% {
      transform: translateX(-3000%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
#marquee-right {
  width: 100%;
  /* overflow: hidden; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation-play-state: paused;
}
#marquee-right .view {
  /* overflow: hidden; */
  width: 100%;
}
#marquee-right .pic-container {
  display: flex;
  animation: marquee-right 500s infinite linear;
}
#marquee-right .pic-container:hover {
  animation-play-state: paused;
}
#marquee-right .pic-container .pic {
  /* flex-basis: 20%;
    flex-shrink: 0; */
  /* margin: 0 -5%; */
  list-style: none;
}
@media (max-width: 1024px) {
  #marquee-right .pic-container .pic {
    flex-basis: 25%;
  }
}
@media (max-width: 768px) {
  #marquee-right .pic-container .pic {
    flex-basis: 33.33%;
  }
}
#marquee-right img {
  width: 63%;
  vertical-align: middle;
}
.view:hover ~ .animation {
  animation-play-state: paused;
}

.pic a:hover {
  content: url("../image/光明燈_亮.png");
  width: 63%;
  vertical-align: middle;
}