*, *::before, *::after {
    box-sizing: border-box;
    color: inherit;
    list-style: none;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: #e8e8e8;
}
@keyframes marquee-left {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(-100%);
   }
}
@media (max-width: 1024px) {
    @keyframes marquee-left {
        0% {
            transform: translateX(0);
       }
        100% {
            transform: translateX(-125%);
       }
   }
}
@media (max-width: 768px) {
    @keyframes marquee-left {
        0% {
            transform: translateX(0);
       }
        100% {
            transform: translateX(-166.65%);
       }
   }
}
#marquee-left {
    padding: 50px 0;
    width: 100%;
}
#marquee-left .view {
    overflow: hidden;
    width: 100%;
}
#marquee-left .pic-container {
    display: flex;
    animation: marquee-left 10s infinite linear;
}
#marquee-left .pic-container .pic {
    flex-basis: 20%;
    flex-shrink: 0;
}
@media (max-width: 1024px) {
    #marquee-left .pic-container .pic {
        flex-basis: 25%;
   }
}
@media (max-width: 768px) {
    #marquee-left .pic-container .pic {
        flex-basis: 33.33%;
   }
}
#marquee-left img {
    width: 50%;
    vertical-align: middle;
}
*, *::before, *::after {
    box-sizing: border-box;
    color: inherit;
    list-style: none;
}
@keyframes marquee-right {
    0% {
        transform: translateX(-100%);
   }
    100% {
        transform: translateX(0);
   }
}
@media (max-width: 1024px) {
    @keyframes marquee-right {
        0% {
            transform: translateX(-125%);
       }
        100% {
            transform: translateX(0);
       }
   }
}
@media (max-width: 768px) {
    @keyframes marquee-right {
        0% {
            transform: translateX(-166.65%);
       }
        100% {
            transform: translateX(0);
       }
   }
}
#marquee-right {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#marquee-right .view {
    overflow: hidden;
    width: 100%;
}
#marquee-right .pic-container {
    display: flex;
    animation: marquee-right 10s infinite linear;
}
#marquee-right .pic-container .pic {
    flex-basis: 20%;
    flex-shrink: 0;
}
@media (max-width: 1024px) {
    #marquee-right .pic-container .pic {
        flex-basis: 25%;
   }
}
@media (max-width: 768px) {
    #marquee-right .pic-container .pic {
        flex-basis: 33.33%;
   }
}
#marquee-right img {
    width: 50%;
    vertical-align: middle;
}
